.footer {
  display: flex;
  margin: 0 auto;
  padding-bottom: 1em;
  width: 90%;
}

.copyright {
  color: #767777;
  padding-top: 12px;
}

.footer a {
  float: right;
  margin-left: auto;
  width: 160px;
}

.footer img {
  width: 180px;
}

@media only screen and (max-width: 800px) {
  .footer {
    width: 95%;
  }
  .copyright {
    width: 40%;
  }
  .footer img {
    padding-top: 1em;
    width: 160px;
    float: right;
  }
}
